.history-container {
  display: flex;
  min-height: 35rem;
  padding-top: 80px;
  margin: 0 5rem;
  gap: 4rem;
  justify-content: center;
}

.history-description {
  display: flex;
  flex-direction: column;
  max-width: 28rem;
  justify-content: center;
  margin: 2rem 4rem;
}

.history-image {
  display: flex;
  max-width: 800px;
  max-height: 600px;
  align-self: center;
  /* margin: 1rem; */
  /* padding: 1rem; */
}

.history-description > h3 {
  color: var(--highlight);
  font-weight: 600;
}
.history-description > p {
  line-height: 1.25rem;
}

.history-description > * {
  padding-bottom: 0.75rem;
}

.core-header {
  text-align: center;
  color: #0d47a1;
  padding: 2rem 0;
  /* border-top:1px solid rgb(148, 148, 148) */
}
.core-header h3 {
  font-weight: 700;
}

.core-content {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
  padding: 5rem;
}

.core-content > * {
  max-width: 26rem;
}

.core-content img {
  width: 75px;
  height: 70px;
}

.core-content h5 {
  font-weight: 700;
  margin: 1rem 0;
}

.core-content p {
  line-height: 1.25rem;
}

.join-us-content {
  display: flex;
  padding: 2rem 5rem;
  gap: 6rem;
  justify-content: space-around;
}

.join-us-content h2 {
  font-weight: 700;
  max-width: 32.5rem;
}

.join-us-description {
  max-width: 46.25rem;
}

.join-us-description button {
  max-width: 15rem;
  margin-top: 1rem;
}

@media (max-width: 1024px) {
  .history-container {
    flex-direction: column-reverse;
    gap: 0;
    margin: 0;
  }

  .history-description {
    max-width: 36rem;
    align-self: center;
  }
}

@media (max-width: 480px) {
  .history-container {
    padding-top: 0;
  }

  .history-description {
    margin: 1.5rem 2rem;
  }

  .history-image {
    min-width: 800px;
  }
}
