.navbar-container {
  height: 80px;
  width: 100%;
  background-color: var(--neutral-dark);
  position: sticky;
  top: 0;
  z-index: 99;
}

.navbar-content {
  height: 80px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 68px;
  width: auto;
}

.nav-links {
  display: flex;
  min-width: 500px;
  padding-left: 80px;
  min-height: 100%;
}

.nav-link {
  text-decoration: none;
  color: var(--neutral-light);
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  padding:0 24px; 
}

.nav-link:hover {
  background-color: var(--highlight);
}

.menu-icon {
  cursor: pointer;
  width: 32px;
  height: 28px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
}

.hamburger-line {
  height: 4px;
  background-color: var(--neutral-light);
  transition: all 0.3s;
}

@media (max-width: 768px) {
  .logo {
    height: 64px;
    width: auto;
  }

  .nav-links a.active {
    background-color: var(--highlight);
    color: var(--neutral-light);
  }

  .nav-link {
    font-weight: 700;
    min-width: 100%;
  }

  .navbar-content {
    margin: 0;
    padding: 0 16px;
  }

  .nav-links {
    display: none;
    min-width: 0px;
    padding-left: 0px;
  }

  .nav-links.open {
    display: flex;
    flex-direction: column;
    background-color: var(--neutral-light);
    width: 100%;
  }

  .nav-links.open li {
    display: flex;
    height: 64px;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.2);
    min-width: 100%;
  }

  .nav-link {
    color: var(--neutral-dark);
    font-size: 24px;
  }

  .menu-icon {
    display: flex;
  }

  .icon-x {
    display: inline-block;
    color: var(--neutral-light);
    font-size: 2rem;
    transition: transform 1s ease-in-out;
  }
}
